<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>System Information</h3>
                <p> </p>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <th class="col-lg-3">Server</th>
                                <td class="col-lg-8">192.168.1.2</td>
                            </tr>
                            <tr>
                                <th>Server Version</th>
                                <td>0.0.1</td>
                            </tr>
                            <tr>
                                <th>Server Type</th>
                                <td>Apache Hive</td>
                            </tr>
                            <tr>
                                <th>Protocol version</th>
                                <td>10</td>
                            </tr>

                            <tr>
                                <th>User</th>
                                <td>Root</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                You can select a table and upload to cloud server.
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
